body {
    height: 100vh;
    margin: 20px;
    font-family: sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    color: green;
    width: 500px;
    border: 1px solid black;
}

th {

}

td {

}

h1 {
    color: red;
}

form {
    display: flex;
    align-items: center;
    height: 60px;
}

.user-options {
    padding: 5px;
}

